@model IEnumerable<Practica_5.Models.eventos>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Eventos</h2>

<form>
    <br />
    <h4>Buscador</h4>
    <input type="text" id="Busqueda" name="Busqueda" placeholder="Ingrese el nombre del Evento" value="" />

    <br />
    <br />
    <input type="submit" value="Buscar" class="btn btn-primary" />
    <br />
    <br />
</form>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
